[Unit]
Description=Blog api

[Service]
WorkingDirectory=/home/elvis/BivekApi/Api
ExecStart=/home/elvis/BivekApi/Api/Release/Api
SyslogIdentifier=ApiService
User=elvis
Restart=always
RestartSec=10
Environment=DOTNET_ROOT=/usr/lib/dotnet/dotnet6-6.0.110

[Install]
WantedBy=multi-user.target
